body {
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: #f7f2f2;
}

.table {
    border-collapse: collapse;
    width: fit-content;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.row {
    display: grid;
    grid-template-columns: 20px 10vw repeat(9, 50px);
    border-bottom: 2px rgb(216, 212, 212) solid;
}

.description.image {
    justify-content: space-between;
}

.description.image img {
    width: 18px;
}